.widget {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border-radius: 3px;
    margin: 0 0 3px 0;
}

.widget .nest {
    display: flex;
    flex-direction: row;
    margin: 3px 3px 0 0;
    gap: 3px;
}

.widget.turn, .remove-x.turn {
    background-color: #1faa00;
    /* border: 2px solid #9cff57; */
    color: #9cff57;
    font-weight: 600;
}

.widget object {
    display: none;
}

.widget.dead object {
    display: block;
    margin: 0 0 0 5px;
}

.widget.round, .remove-x.round {
    background-color: #0026ca;
    border: 2px solid #304ffe;
    color: #62ebff;
    font-weight: 600;
}

.widget.assignment {
    background-color: #ac0800;
    border: 2px solid #e64a19;
    color: #e64a19;
    font-weight: 600;
}

.remove-x.assignment {
    opacity: 0;
}

.remove-x.round {
    color: #304ffe;
}

.widget.dark, .remove-x.dark {
    background-color: #111111;
    /* background-color: #34515e; */
    /* border: 2px solid #304ffe; */
    color: #8eacbb;
    font-weight: 600;
}

.widget.red, .remove-x.red {
    background-color: #ac0800;
    /* border: 2px solid #f9683a; */
    color: #e64a19;
    font-weight: 600;
}

/* .widget.red .widget-body{
    min-width: 0px;
} */

.widget.affect, .remove-x.affect {
    background-color: #1c313a;
    /* border: 2px solid #484848; */
    color: #718792;
    font-weight: 600;
    max-width: 150px;
}


/* .widget.dark.assignment {
    border: 2px solid purple;
} */

/* .widget.dark.concentration {
    color: gold;
} */

.widget.concentration {
    /* text-decoration: underline; */
    border: 1px solid gold;
}

/* .widget.dark.not-active {
    opacity: 0.25;
} */


.widget.muted {
    opacity: 0.15;
}

/* .turn-taken {
    opacity: 0.25;
} */

.widget-body {
    display: flex;
    flex-grow: 1;
    justify-content: flex-start;
    align-items: center;
    cursor: pointer;
    padding: 3px 3px 3px 5px;
    font-size: 24px;
    user-select: none;
    /* min-width: 150px; */
}

.widget-remove {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    cursor: pointer;
    user-select: none;
    padding: 3px;
}

.remove-x {
    display: flex;
    justify-content: center;
    align-items: center;
	width: 17px;
	height: 17px;
    font-family: 'Arial';
	border-radius: 50%;
    font-size: 17px;
    padding: 0 0 1px 0;
}
