.not-active {
    color: #494646;
}

.lcars {
    display: flex;
    flex-direction: rows;
}

.button {
    background-color: #1B1A1A;
    padding: 3px 10px 5px 10px;
    text-align: center;
    cursor: pointer;
    margin: 0 0 0 0;
}

.button.green {
    background-color: darkgreen;
    border: 3px solid  chartreuse;
}

.button.red {
    color: red;
    background-color: darkred;
    border: 3px solid red;
    margin: 0 0 20px 0;
}
