.header {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 10px 10px 10px 0;
}

.header .turn {
    flex: 1.25 0 0;
    padding: 0 0 0 10px;
    font-size: 24px;
}

.concentration {
    color: gold;
}