.dials {
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.control {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

.control label {
    color: #464646;
    margin-top: 3px;
}

.control select, input{
    border: none;
    background-color: #121212;
    border: 1px solid #222222;
    color:#b6b6b6;
    font-size: 20px;
}

.control input[type=checkbox] {
    width: 20px;
    height: 20px;
    appearance: none;
}

.control input[type=checkbox]:focus {
    filter: invert(12%) sepia(44%) saturate(3%) hue-rotate(47deg) brightness(93%) contrast(95%);
}

.control input[type=checkbox]:checked {
    appearance: auto;
    filter: invert(70%) sepia(0%) saturate(0%) hue-rotate(207deg) brightness(87%) contrast(90%);
}

.control select:focus, input[type=text]:focus {
    outline: none;
    border: 1px solid #999999;
    background-color: #242424;
    /* box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(102, 175, 233, 0.6); */
}

.control input[type=text]::selection {
    background-color: #000000;
}
