@page "/"

@using wrangler.data
@using wrangler.handlers

@inject MemoryBank _bank
@inject CombatantHandler _combatant
@inject ControlHandler _control
@inject CombatHandler _combat
@inject AffectHandler _affect
@inject TensionHandler _tension

<div class="frame">
    <div class="panel">
            <Gadget
                Text=@($"Tension {_bank.TensionDie}")
                Reference=@("tension")
                DisableClose=true
            />        
            <Gadget
                Text=@($"Round {_bank.Combat.Round}")
                Reference=@(new string("round"))
                DisableClose=true
            />        
        @foreach(var combatant in _bank.Combatants)
        {
            <Gadget
                Text=@combatant.Name
                Reference=@combatant
                DisableClose=true
            />
        }
    </div>
</div>

@* <div class="frame">
    <div class="panels">
        <div class="list">
            <Widget 
                Text=@("Tension " + _bank.TensionDie)
                Reference=@("tension")
                DisplayOnly=@(true)
                BodyClick="()=>{}"
                RemoveClick="()=>{}"
            />            
            <Widget 
                Text=@("Round " + _bank.Combat.Round)
                Reference=@("round")
                DisplayOnly=@(true)
                BodyClick="()=>{}"
                RemoveClick="()=>{}"
            />
            @foreach(var combatant in _bank.Combatants)
            {
                <Widget 
                    Text=@combatant.Name
                    DisplayOnly=@(true) 
                    Reference=@combatant
                    BodyClick="()=>{}"
                    RemoveClick="()=>{}"
                />    
            }            
        </div>
        @* <div class="list">
            <Widget 
                Text=@("Tension " + _bank.TensionDie)
                Reference=@("tension")
                DisplayOnly=@(true)
                BodyClick="()=>{}"
                RemoveClick="()=>{}"
            />
        </div>         *@

@code {
    protected override void OnInitialized()
    {
        _combatant.OnChange += Update;
        _combat.OnChange += Update;
        _affect.OnChange += Update;
        _tension.OnChange += Update;
    }

    private void Update()
    {
        InvokeAsync(() => {
            StateHasChanged();
        });
    }    
}
