@import url('open-iconic/font/css/open-iconic-bootstrap.min.css');

.not-active {
    color: #494646;
} 

.panel {
    display: flex;
    flex-direction: row;
}

.panel-right {
    display: flex;
    flex-direction: column;
    padding: 5px;
}

.panel-left {
    padding: 5px;
}

.listor {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: #1B1A1A;
    border: 3px solid #302e2e;
    margin: 4px;
    border-radius: 25px;
}

.concentration {
    border: 3px solid gold;
}

.listor .combatant {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    min-width: 100px;
    margin: 0px 7px 0px 0px;
    padding: 5px 5px 5px 10px;
    cursor: pointer;
}

.listor .remove {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding-right: 7px;
}

.x {
	width: 20px;
	height: 20px;
    font-family: 'Arial';
    font-weight: bold;
    color: #494646;
	border: 2px solid #494646;
	background-color: black;
	border-radius: 50%;
    text-align: center;
    line-height: 15px;
}

.x:hover { cursor: pointer; }











html, body {
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

body {
    background-color: black;
}

a, .btn-link {
    color: #0366d6;
}

.btn-primary {
    color: #fff;
    background-color: #1b6ec2;
    border-color: #1861ac;
}

.content {
    padding-top: 1.1rem;
}

.valid.modified:not([type=checkbox]) {
    outline: 1px solid #26b050;
}

.invalid {
    outline: 1px solid red;
}

.validation-message {
    color: red;
}

#blazor-error-ui {
    background: lightyellow;
    bottom: 0;
    box-shadow: 0 -1px 2px rgba(0, 0, 0, 0.2);
    display: none;
    left: 0;
    padding: 0.6rem 1.25rem 0.7rem 1.25rem;
    position: fixed;
    width: 100%;
    z-index: 1000;
}

    #blazor-error-ui .dismiss {
        cursor: pointer;
        position: absolute;
        right: 0.75rem;
        top: 0.5rem;
    }
