body {
    background-color: #121212;
}

.frame {
    display: flex;
    flex-direction: row;
}

.frame .panel {
    display: flex;
    flex-direction: column;
    gap: 3px;
    padding: 3px;
}

.box .upload::file-selector-button {
    visibility: hidden;
  }

.box .upload::before {
    content: 'upload encounters';
    color: #999999;
    cursor: pointer;
    border: 1px solid #1a1a1a;
    padding: 3px 5px 3px 3px;
    font-size: 20px;
    display: inline-block;
    border-radius: 3px;
    background: linear-gradient(0, #121212, #222222);
}

.box .upload:hover::before {
    border-color:#999999;
}
